@{
    ViewData["Title"] = "Tareas";
}
@model  IEnumerable<TC.Service.Resources.TaskResponse>

<div class="text-center">
    <h1 class="display-4">Tareas</h1>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Tarea</th>
                <th>Prioridad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Task</td>
                        <td>@item.Priority</td>  
                        <td>
                            <a asp-action="CreateEditTask" asp-route-id="@item.Id" >Modificar</a>
                            <a asp-action="DeleteTask" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
